@{
    ViewData["Title"] = "Contacts";
}

<link rel="stylesheet" href="~/landing/css/forms-style.css" />
<link rel="stylesheet" href="~/landing/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/landing/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/landing/css/login.css" />
<link rel="stylesheet" href="~/landing/css/stack.bootstrap.min.css" />
<link rel="stylesheet" href="~/landing/css/home_page.css" />
<script src="~/landing/js/jquery.min.js"></script>
<script src="~/landing/js/bootstrap.min.js"></script>
<script src="~/landing/js/jquery.ajax.min.js"></script>
<script src="~/landing/js/jquery.base64.js"></script>
<script src="~/landing/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }

        .footerlogo {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    </style>
    <link href="css/externalStyle.css" rel="stylesheet" />

   
    <div class="col-md-10 col-md-offset-1 mt-4 min-height-300">
        <!-- showing error if page data not available -->
        <div class="gov_image" style="margin: 0px 0px;">
            <h1 class="page-heading-h1 hr">Contact</h1>
        </div>
        <div>
            <p>Indian Bureau of Mines<br />2 nd Floor, Indira Bhawan, Civil Lines,<br />NAGPUR - 440 001 (INDIA)<br />Tel.No. 91 712 2560041,<br />Fax.No. 91 712 2565073,<br />Email :&nbsp;mms[at]ibm[dot]gov[dot]in</p>
        </div>
    </div>
    
    <div class="slide-container3">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-1 copyright">
                <!-- <span class="white">Government of India. © 2019 All rights reserved, Indian Bureau of Mines </span> -->
            </div>
            <div class="col-md-4 p_r_62">
                <p class="visitor_design">
                    Total Visitors:&nbsp;
                    <span class="visitor">8</span><span class="visitor">5</span><span class="visitor">0</span>
                </p>
            </div>
        </div>
    </div>
   
    <script src="landing/js/home_page.js"></script>
