@{
    ViewData["Title"] = "Disclaimer";
}
@* <h1>@ViewData["Title"]</h1> *@


<link href="~/landing/css/forms-style.css" rel="stylesheet" />

<link rel="stylesheet" href="~/landing/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/landing/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/landing/css/login.css" />
<link rel="stylesheet" href="~/landing/css/stack.bootstrap.min.css" />
<link rel="stylesheet" href="~/landing/css/home_page.css" />
<script src="~/landing/js/jquery.min.js"></script>
<script src="~/landing/js/bootstrap.min.js"></script>
<script src="~/landing/js/jquery.ajax.min.js"></script>
<script src="~/landing/js/jquery.base64.js"></script>
<script src="~/landing/js/bootstrap.bundle.min.js"></script>

<title>IBM Registration</title>
<style>
    body {
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }

    .footerlogo {
        margin: 0;
        padding: 0;
        width: 100%;
    }
</style>
<link href="~/css/externalStyle.css" rel="stylesheet" />







<div class="col-md-10 col-md-offset-1 mt-4 min-height-300">
    <!-- showing error if page data not available -->
    <div class="gov_image" style="margin: 0px 0px;">
        <h1 class="page-heading-h1 hr">@ViewData["Title"]</h1>
    </div>
    <div>
        <p><span>All efforts have been made to make the information as accurate as possible, Indian Bureau of Mines (IBM), Ministry of Mines or National Informatics Centre (NIC), will not be responsible for any loss to any person caused by inaccuracy in the information available on this Website. Any discrepancy found may be brought to the notice of IBM.</span></p>
    </div>
</div>



<script src="~/landing/js/home_page.js"></script>

