
@{
    ViewData["Title"] = "Chapter_V_1_Final_Mine_Closure_Plan";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold text-center">
                                CHAPTER-V FINAL MINE CLOSURE PLAN
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                                    5.1.1 Mined-Out Land: The proposals may be supported with yearly plans and sections
                                                    depicting yearly progress in the activities for land restoration/
                                                    reclamation/rehabilitation, afforestation etc., called “Reclamation Plan
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                              
                                                <div class="panel-heading bold">
                                                    5.1.2 Safety and Security i.e., Securing the Excavations/ pits/ Underground
                                                    Openings/ Mineralized Dumps or Mineral Rejects stacks/ Fines stack/
                                                    Tailings or Slimes stacks: The lessee should ensure fencing of any excavation
                                                    endangering fall of persons/cattle etc. in terms of Rule 26 of MCDR‟2017.
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" placeholder="(Grid reference to be mentioned)" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.3 Afforestation: Existing afforestation details shall be furnished alongwith
                                                    proposals on Virgin area, Backfilled area, Dump plantation and plantation on
                                                    ultimate benches indicating area and number of saplings.
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" placeholder="(Grid reference to be mentioned)" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.4 Topsoil Management: No unstabilized stacks of topsoil should be left at the expiry
                                                    of lease period. (Either the generated topsoil should be utilized or the stacks
                                                    should be stabilized and secured.)
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" placeholder="(Grid reference to be mentioned for storage)" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.5 Water Quality Management: In case of proposal for conversion of mined out pit
                                                    into a water reservoir/ Pisciculture purpose (for completely exhausted part),
                                                    dimension of the pit(s) along with capacity should be furnished in tabular form for each pit and such excavations should be fenced to avoid any danger to public
                                                    safety. Proposal for conversion of mined out pit into water reservoir/ Pisciculture
                                                    should be suitably supported by a brief calculation for accumulation of water into
                                                    the pit considering average rainfall in the area, catchment area, drainage direction
                                                    etc. justifying the capacity of the reservoir and suitability for Pisciculture.
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" placeholder="(Location of monitoring stations to be given)" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.6 Air Quality Management:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" placeholder="(Co-ordinate of monitoring stations to be given)" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.7 Waste Management:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" placeholder="(Co-ordinate to be mentioned)" />
                                                </div>
                                                 <div class="panel-heading bold">
                                                    5.1.8 Tailings Dam Management:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" placeholder="(Co-ordinate to be mentioned)" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.9 Surface subsidence mitigation measures through backfilling of underground mine
                                                    voids or by any other means and its monitoring mechanism.
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" placeholder="(Co-ordinate to be mentioned)" />
                                                </div>
                                                 <div class="panel-heading bold">
                                                    5.1.10 A brief about surface features existing within a periphery of 500 m from the lease
                                                    boundary as per the Rule 32(5)(b) of MCDR‟2017.
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.11 Infrastructure Details:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="field-label">
                                                        An account of infrastructural facilities available in the ML area should be given in
                                                        tabular format indicating its details. Any infrastructural facility which is an
                                                        essential commodity/related to basic need or which absence may cause any
                                                        degradation of environment or any damage to flora and fauna in and around the
                                                        ML area or any danger to public safety or public infrastructure like rail, road etc.
                                                        shall not be decommissioned (dismantling water supply, water treatment plant,
                                                        power lines etc.) without prior intimation/approval of appropriate authority.
                                                    </label>
                                                </div>
                                                 <div class="panel-heading bold">
                                                    5.1.12 Disposal of Mining Machinery:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="field-label">
                                                        Note: With reference to the extent of mechanization given in the „Mining‟ chapter of
                                                        Approved Mining Plan.
                                                    </label>
                                                </div>
                                                 <div class="panel-heading bold">
                                                    5.1.13 Disaster Management and Risk Assessment:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.14 Economic Repercussions of closure of mine and manpower retrenchments:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                                 <div class="panel-heading bold">
                                                    5.1.15 Time Scheduling for Closure:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.16 Closure Cost:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="panel-heading bold">
                                                    5.1.17 Post Closure Monitoring Schedule as envisaged and Estimated Cost:
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                          
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
