
@{
    ViewData["Title"] = "Chapter_II_4GelogyandExploration";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold text-center">CHAPTER-II GELOGY AND EXPLORATION</div>
                            <div class="panel-body">

                               



                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading bold">
                                               2.3 Balance estimated mineral reserve/ resources in different categories of UNFC are
                                                    given below:-(To be indicated separately for Forest and Non-forest area) As on ……….. 
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                             
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3  ">
                                                            <label class="field-label ">
                                                                UNFC Code
                                                            </label>

                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                                Quantity (T)
                                                            </label>

                                                        </div>

                                                        <div class="form-group col-md-3 ">
                                                            <label class="field-label ">
                                                                Grade
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                                Proved Mineral Reserve
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                               111
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control"  />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                                Probable Mineral Reserve
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                                121
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                               
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                                122
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label class="field-label ">
                                                                A. Total Mineral Reserves :
                                                            </label>
                                                        </div>

                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                                Feasibility Mineral Resource
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                                211
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                                Prefeasibility Mineral Resource
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                                221
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                              
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                                222
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                                Measured Mineral Resource
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                                331
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                                Indicated Mineral Resource
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                                332
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                                Inferred Mineral resource
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                                333
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-2">
                                                            <label class="field-label ">
                                                                Reconnaissance Mineral Resource
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <label class="field-label ">
                                                                334
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>


                                                        <div class="form-group col-md-5 text-center">
                                                            <label class="field-label ">
                                                                B. Total Remaining Resources
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-5 text-center">
                                                            <label class="field-label ">
                                                                Total Mineral Resources (A+B
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3 text-center">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3 ">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                       
                                                    </div>

                                                    <div class="card-footer row">
                                                        <div class="form-group col-md-12 text-center">
                                                            <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Add  </button>
                                                            @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

