
@{
    ViewData["Title"] = "PartE2ReviewofLastestApprovedPropsals";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold">PART-E: REVIEW OF LASTEST APPROVED PROPSALS GIVEN IN THE MP/SOM/RMP/MMP/FMCP-</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading"><h6><b></b></h6></div>
                                                <div class="panel-body">
                                                    <div class="row">

                                                        


                                                        <div class="form-group col-md-12">
                                                            <div class="panel-group">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-heading bold"></div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Total Quantity of Fines (Tonnes): </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Generated</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Utilized</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Stacked</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>





                                                        </div>


                                                        <div class="form-group col-md-12">
                                                            <div class="panel-group">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-heading bold"></div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Total Quantity of Tailings/Slimes (in Tonnes):</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Generated</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Utilized</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Stacked</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>





                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Height of benches in Overburden and in Ore (meter):</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Location of topsoil Stack:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="In dd mm ss format (for extremities) or Grid values" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="In dd mm ss format (for extremities) or Grid values" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>


                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Location of OB:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Location of mineral rejects stacks:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Location of Fines Stacks:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Location of Tailings/ Slimes stacks:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Length of Retaining wall & garland drain all along dumps (meter):</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Fencing of Lease Area / Mineralized Area/Mineralized Dumps/Underground Openings (ha area secured):</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Conversion of mined out area into Water Reservoir/ Pisciculture (in ha):</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Backfilling of mined out area:</label>
                                                        </div>
                                                        <div class="form-group col-md-1">
                                                            <input type="text" class="form-control" placeholder="Vol" />
                                                        </div>
                                                        <div class="form-group col-md-1">
                                                            <input type="text" class="form-control" placeholder="Area" />
                                                        </div>
                                                        <div class="form-group col-md-1">
                                                            <input type="text" class="form-control" placeholder="Height" />
                                                        </div>

                                                        <div class="form-group col-md-1">
                                                            <input type="text" class="form-control" placeholder="Vol" />
                                                        </div>
                                                        <div class="form-group col-md-1">
                                                            <input type="text" class="form-control" placeholder="Area" />
                                                        </div>
                                                        <div class="form-group col-md-1">
                                                            <input type="text" class="form-control" placeholder="Height" />
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
</div>
</body>
</html>

