@{
    ViewData["Title"] = "PartEReviewofLastestApprovedPropsals";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold">PART-E: REVIEW OF LASTEST APPROVED PROPSALS GIVEN IN THE MP/SOM/RMP/MMP/FMCP-</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading"><h6><b></b></h6></div>
                                                <div class="panel-body">
                                                    <div class="row">

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Item </label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Proposals </label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Actual work done </label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">
                                                                Remarks/
                                                                Reasons
                                                                for
                                                                deviations
                                                                , if any
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Exploration for Geological axis 1 or 2 </label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="Details to be given for Boreholes, Pits and trenches separately." />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="Details to be given for Boreholes, Pits and trenches separately." />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Number of pits proposed for production  </label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>


                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Location of Excavation</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="In dd mm ss format (for extremities) or Grid values" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="In dd mm ss format (for extremities) or Grid values" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <div class="panel-group">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-heading bold"></div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Total Quantity of topsoil (m3):</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Removed</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Utilized</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Stacked</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>





                                                        </div>


                                                        <div class="form-group col-md-12">
                                                            <div class="panel-group">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-heading bold"></div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Quantity of  overburden/ Waste (m3): </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Excavated</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Backfilled</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Dumped</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>





                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Production of ROM and Graded Ore (Tonnes) </label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control"  />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control"  />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>


                                                        <div class="form-group col-md-12">
                                                            <div class="panel-group">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-heading bold"></div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Total Quantity of Mineral Reject (Tonnes): </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Generated</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Utilized</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Utilized</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>





                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Overall Stripping ratio or Ore to OB ratio (T/m3) </label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>


                                                      
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
        </div>

</body>
</html>


