@{
    ViewData["Title"] = "PartE4ReviewofLastestApprovedPropsals";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold">PART-E: REVIEW OF LASTEST APPROVED PROPSALS GIVEN IN THE MP/SOM/RMP/MMP/FMCP-</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    Area proposed to be put to use in last Approved MP/SOM/ RMP/ MMP/FMCP (in
                                                    case of Modifications in approved FMCP)
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered text-center">
                                                                <thead>
                                                                    <tr>
                                                                        <th rowspan="2">Item details</th>
                                                                        <th colspan="3">
                                                                            Proposed area
                                                                            (ha)
                                                                        </th>
                                                                        <th colspan="3">
                                                                            Actual area
                                                                            (ha)
                                                                        </th>
                                                                        <th rowspan="2">Remarks</th>
                                                                    </tr>
                                                                    <tr>

                                                                        <th>Forest</th>
                                                                        <th>Non-Forest</th>
                                                                        <th>Total</th>

                                                                        <th>Forest</th>
                                                                        <th>Non-Forest</th>
                                                                        <th>Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            (i) Area under
                                                                            excavation/pits
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            (ii) Storage for top soil
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>
                                                                            (iii)Waste dump
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            (iv) Mineral storage
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            (v) Infrastructure –
                                                                            workshop,
                                                                            administrative
                                                                            building etc.
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            (vi) Roads
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            (vii) Railways
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            (viii)Tailing pond
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            (ix) Effluent
                                                                            Treatment Plant
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            (x) Mineral Separation
                                                                            Plant
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>
                                                                            (xi) Township area
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>
                                                                            (xii) Others (to specify)
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>
                                                                            (xiii) Undisturbed Area
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            (xiii) Total in ha
                                                                        </td>
                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Non-Forest" /></td>
                                                                        <td><input type="text" class="form-control" placeholder="Total" /></td>

                                                                        <td><input type="text" class="form-control" placeholder="Remark" /></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>