
@{
    ViewData["Title"] = "PartE3ReviewofLastestApprovedPropsals";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading bold">PART-E: REVIEW OF LASTEST APPROVED PROPSALS GIVEN IN THE MP/SOM/RMP/MMP/FMCP-</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="panel-group">
                                            <div class="panel panel-success">
                                                <div class="panel-heading"><h6><b></b></h6></div>
                                                <div class="panel-body">
                                                    <div class="row">




                                                        <div class="form-group col-md-12">
                                                            <div class="panel-group">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-heading bold"></div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Afforestation (alongwith survival rate) on: </label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Virgin Area</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Dumps</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Backfilled Area</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <label class="field-label">Ultimate Benches</label>
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-3">
                                                                                <input type="text" class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>





                                                        </div>


                                                       

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Number of settling ponds with location:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="n dd mm ss format (for extremities) or Grid values" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="n dd mm ss format (for extremities) or Grid values" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Number of Rainwater Harvesting pits with location:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="In dd mm ss format (for extremities) or Grid values" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="In dd mm ss format (for extremities) or Grid values" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>


                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Measures for Control of dust:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="Free Box for Brief Write Up" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="Free Box for Brief Write Up" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Measures for Control of Noise and ground vibration:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Quality of air:</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label class="field-label">Quality of water :</label>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" placeholder="-do-" />
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control" />
                                                        </div>

                                                        
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer row">
                    <div class="form-group col-md-12 text-center">
                        <button onclick="location.href='@Url.Action("Create", "User")'" class="btn btn-success"> <i class="fa fa-save"></i> Save & Next <i class="fas fa-angle-right"></i> </button>
                        @*   <input type="button" value="Save & Next" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'" /> *@
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
